:root {
  --primary-color: #f3f6fa;
  --secondary-color: #83d3c9;
  --banner: #341b2b80;
  --icons-color: #aee2dc;
  --icon-color: #c9cdd0;
  --text-color: #838587;
  --twitter: #70aecd;
  --facebook: #7490c3;
  --google: #db6b67;
  --github: #dcad8b;
  --dribbble: #df93b8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 400;
}
ul {
  list-style: none;
}

/* ----------------- PROJECT CSS ----------------- */


/* HEADER BLOCK --------------------------------------------- */
header {
  padding: 20px 40px;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  justify-content: space-between;
  color: #fff;
  position: absolute;
  z-index: 1;
  width: 100%;
  letter-spacing: 1px;
}
#logo {
  padding-top: 5px;
  font-weight: 300;
}
nav #mainmenu {
  display: flex;
  gap: 10px;
}
nav #mainmenu > li > a {
  display: inline-block;
  margin: 0 12px;
  padding: 5px 13px;
  border: 1px solid transparent;
  transition: 0.5s;
  color: #fff;
}
#logo strong,
nav #welcome {
  font-weight: 700;
}
nav #mainmenu #signUp {
  border: none;
  background-color: var(--secondary-color);
}
nav #mainmenu #signUp:hover {
  background-color: #98d4cd;
  border: none;
}
nav #mainmenu > li > a:hover {
  background-color: #b7b6b64f;
  border: 1px solid #fff;
}
nav a i {
  font-size: 12px;
}

nav #mainmenu #layouts {
  position: relative;
  height: fit-content;
}
nav #mainmenu #layouts > a {
  margin: 0 0 20px 0px;
}

nav #mainmenu #layouts #menu {
  position: absolute;
  width: 190px;
  background-color: #fff;
  padding: 15px 0;
  margin-top: 20px;
  top: 30px;
  display: none;
}
nav #mainmenu #layouts #menu::before {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #fff;
  padding: 5px;
  transform: rotate(45deg);
  top: -5px;
  left: 15px;
}
nav #mainmenu #layouts #menu li {
  border-bottom: 1px solid #c8c5c573;
}
nav #mainmenu #layouts #menu a {
  display: inline-block;
  width: 100%;
  color: gray;
  font-size: 13px;
  padding: 6px 60px 6px 15px;
}
nav #mainmenu a:hover {
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
}
nav #mainmenu #layouts:hover #menu {
  display: block;
}
nav #mainmenu #menu #subMainmenu #submenu {
  position: absolute;
  left: -174px;
  top: 136px;
  background-color: #fff;
  padding: 15px 0;
  display: none;
}
nav #mainmenu #menu #subMainmenu:hover #submenu {
  display: block;
}

/* BURGER BLOCK --------------------------------------------- */
#burger {
    display: none;
}

/* NAV PANEL BLOCK --------------------------------------------- */
#nav_panel {
  display: none;
}

/* BANNER BLOCK --------------------------------------------- */
#banner {
  height: 690px;
  background-image: linear-gradient(#533e4257, #53353a57),
    url(./Images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
#bannerContent {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 60px;
  gap: 30px;
  background-color: var(--banner);
}
#bannerContent h1 {
  font-size: 3.5rem;
  padding: 5px;
  border-top: 5px double currentColor;
  border-bottom: 5px double currentColor;
}
#bannerContent p {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}
#bannerContent p strong {
  color: #fff;
}
#bannerContent p a {
  text-decoration: underline dotted 0.5px;
  text-underline-offset: 0.2rem;
  color: #dedfe0;
}
#bannerContent .tellMe {
  display: inline-block;
  border: 1px solid;
  padding: 20px 60px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
#bannerContent .tellMe:hover {
  background-color: #5b59596c;
}

/* MAIN CONTENT BLOCK --------------------------------------------- */
#mainContent {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--text-color);
}
#chartBar {
  width: 100%;
  display: flex;
  align-items: center;
}
#chartBar i {
  font-size: 3rem;
  transform: rotate(-90deg) rotateX(180deg);
  color: var(--icon-color);
}
#chartBar span {
  width: 100%;
  display: inline-block;
  border-top: 10px double #6c6c6c10;
  margin: 0 10px;
}
#mainContent h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 3rem;
  text-align: center;
}
#mainContent p {
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
}
#mainContent a {
  color: var(--secondary-color);
  text-decoration: underline dotted currentColor 0.7px;
  text-underline-offset: 5px;
}

/* ICONS BLOCK --------------------------------------------- */
#mainIconsSection {
  margin: 0px 150px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px;
  background-color: var(--secondary-color);
}

#mainIconsSection #content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}
#mainIconsSection #content h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 3rem;
}
#mainIconsSection #content h3 strong {
  font-weight: 400;
}
#mainIconsSection #content p {
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 2rem;
}
#mainIconsSection #content a {
  display: inline-block;
  border: 1px solid;
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  width: fit-content;
  transition: 0.5s;
}
#mainIconsSection #content a:hover {
  background-color: #c0faf259;
}
#mainIconsSection #iconsBlock {
  width: 30%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  color: var(--icons-color);
}
#mainIconsSection #iconsBlock i {
  display: block;
  font-size: 6rem;
  width: calc(50% - 1 * 30px / 2);
}

/* TICK MARK BLOCK --------------------------------------------- */
#tickMarkBlock {
  margin: 100px 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#tickMarkBlock .tickCard {
  width: calc(33.33% - 2 * 30px / 3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}
#tickMarkBlock .tickCard i {
  font-size: 6rem;
  font-weight: bolder;
  color: var(--icon-color);
}
#tickMarkBlock .tickCard h2 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
#tickMarkBlock .tickCard p {
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 1.8rem;
}

/* COOL STUFF BLOCK --------------------------------------------- */
#coolStuffBlock {
  margin: 150px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fff;
}
#coolStuffBlock main {
  display: flex;
  flex-wrap: wrap;
}
#coolStuffBlock h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--text-color);
}
#coolStuffBlock h1 strong {
  font-weight: 400;
}
#coolStuffBlock .coolStuffCard {
  width: calc(50%);
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--text-color);
}
#coolStuffBlock .coolStuffCard .imgBlock {
  height: 250px;
  background-image: url(./Images/pic01.jpg);
  background-position: center;
  background-size: cover;
}
#coolStuffBlock .coolStuffCard .pic1 {
  background-image: url(./Images/pic01.jpg);
}
#coolStuffBlock .coolStuffCard .imgBlock.pic2 {
  background-image: url(./Images/pic02.jpg);
}
#coolStuffBlock .coolStuffCard .pic3 {
  background-image: url(./Images/pic03.jpg);
}
#coolStuffBlock .coolStuffCard .pic4 {
  background-image: url(./Images/pic04.jpg);
}
#coolStuffBlock .coolStuffCard h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
#coolStuffBlock .coolStuffCard p {
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 2rem;
}
#coolStuffBlock a {
  display: inline-block;
  border: 1px solid;
  padding: 15px 90px;
  color: var(--text-color);
  text-transform: uppercase;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}
#coolStuffBlock a:hover {
  background-color: rgb(162, 162, 162);
  color: #fff;
}

/* READY BLOCK --------------------------------------------- */
#ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: linear-gradient(#533e4257, #53353a57),
    url(./Images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0;
  color: #fff;
}
#ready h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
}
#ready h2 strong {
  font-weight: 400;
}
#ready p {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}
#buttons a {
  display: inline-block;
  text-transform: uppercase;
  min-width: 18rem;
  line-height: 3.5rem;
  margin: 0 10px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
#buttons #money {
  background-color: var(--secondary-color);
  transition: 0.5s;
}
#buttons #money:hover {
  background-color: #95d2ca;
}
#buttons #lol {
  border: 1px solid;
}
#buttons #lol:hover {
  background-color: #5b59596c;
}

/* FOOTER BLOCK --------------------------------------------- */
footer {
  padding: 5rem 0 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer #socialIcons {
  display: flex;
}
footer #socialIcons a {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  border: 1px solid;
  line-height: 3rem;
  min-width: 3.2rem;
  text-align: center;
  border-radius: 100%;
  color: #fff;
}
footer #socialIcons .twitter {
  background-color: var(--twitter);
}
footer #socialIcons .twitter:hover,
footer #socialIcons .facebook:hover,
footer #socialIcons .googlePlus:hover,
footer #socialIcons .github:hover,
footer #socialIcons .dribbble:hover {
  opacity: 0.85;
}
footer #socialIcons .facebook {
  background-color: var(--facebook);
}
footer #socialIcons .googlePlus {
  background-color: var(--google);
}
footer #socialIcons .github {
  background-color: var(--github);
}
footer #socialIcons .dribbble {
  background-color: var(--dribbble);
}
footer #copywrite {
  color: var(--text-color);
  font-weight: 100;
  letter-spacing: 1px;
}
footer #copywrite span {
  padding: 0 12px;
}
footer #copywrite span:nth-child(2) {
  border-left: 1px dotted;
  border-right: 1px dotted;
}
footer #copywrite span a {
  color: var(--text-color);
  text-decoration: underline dotted 0.5px;
  text-underline-offset: 0.2rem;
}

/* MEDIA QUERIES ---------------------------------------------*/
@media screen and (max-width: 1450px) {
  #mainIconsSection #content p br {
    display: none;
  }
  #mainIconsSection #iconsBlock {
    min-width: 30%;
  }
}

@media screen and (max-width: 991px) {
  #mainIconsSection {
    margin: 15px;
    padding: 60px 20px;
    flex-direction: column-reverse;
    gap: 30px;
  }
  #mainContent h1 br,
  #mainContent p br {
    display: none;
  }
  #mainIconsSection #content {
    align-items: center;
  }
  #mainIconsSection #content h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  #mainIconsSection #content p {
    text-align: center;
  }
  #mainIconsSection #content h3 br,
  #mainIconsSection #content p br {
    display: none;
  }
  #mainIconsSection #iconsBlock {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  #mainIconsSection #iconsBlock i {
    width: fit-content;
    font-size: 4.5rem;
  }
  #tickMarkBlock {
    margin: 100px 15px;
  }
  #tickMarkBlock .tickCard {
    width: calc(50% - 1 * 30px / 2);
  }
  .tickCard:nth-child(3) {
    margin: 0 auto;
  }
  #coolStuffBlock {
    margin: 15px;
    padding: 50px 30px;
  }
  #coolStuffBlock .coolStuffCard {
    width: 100%;
  }
  #coolStuffBlock .coolStuffCard .imgBlock {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  header {
    display: none;
  }
  #nav_panel {
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    background-color: #1c2021;
    text-transform: uppercase;
    padding: 15px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
  }
  #nav_panel.slide-in {
    transform: translateX(0);
  }
  #nav_panel.slide-out {
    transform: translateX(-100%);
  }
  #nav_panel a {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #46454579;
    padding: 10px 0 10px 5px;
  }
  #nav_panel a:hover {
    background-color: #474949b5;
  }
  #nav_panel > ul > li > a {
    font-weight: 700;
    letter-spacing: 1px;
  }
  #panelMenu li a {
    color: #d4d0d0;
    font-size: 14px;
    letter-spacing: 1px;
  }
  #panelMenu li {
    padding-left: 10px;
  }
  body #wrapper {
    transition: all 0.4s ease;
  }
  body #wrapper.nav-open {
    transform: translateX(280px);
    transition: all 0.4s ease;
  }
  #burger {
    background-color: #16161659;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    display: block;
    height: fit-content;
    margin: 15px;
    cursor: pointer;
    position: fixed;
    top:0;
    z-index: 1;
    transition: all 0.4s ease;
  }
  #burger:hover {
    background-color: #131313a8;
  }
  #bannerContent {
    background: transparent;
    padding: 0;
    width: 100%;
  }
  #bannerContent p br {
    display: none;
  }
  #mainContent h1 br,
  #mainContent p br {
    display: none;
  }
  #mainIconsSection {
    margin: 15px;
    padding: 60px 20px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  #mainIconsSection #content {
    align-items: center;
  }
  #mainIconsSection #content h3,
  #mainIconsSection #content p {
    text-align: center;
  }
  #mainIconsSection #content h3 br {
    display: none;
  }
  #mainIconsSection #iconsBlock {
    width: 100%;
    flex-direction: row;
  }
  #mainIconsSection #iconsBlock i {
    font-size: 4.5rem;
  }
  #tickMarkBlock .tickCard {
    width: 100%;
  }
  #buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer {
    padding: 5rem;
  }
  footer #copywrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  footer #copywrite span:nth-child(2) {
    border: none;
  }
}

@media screen and (max-width: 550px) {
  #banner {
    height: 400px;
  }
  #banner #bannerContent h1 {
    font-size: 1.5rem;
  }
  #banner #bannerContent p {
    font-size: 1rem;
  }
  #banner #bannerContent p br {
    display: none;
  }
  #banner #bannerContent .tellMe {
    padding: 15px 40px;
  }
  #mainContent {
    margin: 0;
    padding: 50px 20px;
  }
  #mainContent i {
    font-size: 3rem;
  }
  #mainContent h1 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  #mainContent p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #mainIconsSection {
    margin: 0;
  }
  #mainIconsSection #iconsBlock i {
    font-size: 4rem;
    width: calc(33.33% - 2 * 30px / 3);
  }
  #mainIconsSection #content h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  #mainIconsSection #content p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  #mainIconsSection #content a {
    padding: 15px 50px;
  }
  #tickMarkBlock {
    margin: 30px 0px;
  }
  #coolStuffBlock {
    margin: 20px 0;
    padding: 20px 10px;
  }
  #coolStuffBlock h1 {
    font-size: 1.5rem;
  }
  #coolStuffBlock .coolStuffCard {
    padding: 0;
    gap: 20px;
  }
  #coolStuffBlock main {
    gap: 50px;
  }
  #coolStuffBlock .coolStuffCard .imgBlock {
    height: 200px;
    width: 100%;
    padding: 0 10px;
  }
  #coolStuffBlock .coolStuffCard h2 {
    font-size: 1.5rem;
  }
  #coolStuffBlock .coolStuffCard p {
    line-height: 2rem;
    text-align: left;
  }
  #ready {
    padding: 50px 30px;
  }
  #ready h2 {
    font-size: 1.5rem;
  }
  #ready p {
    font-size: 1rem;
  }
  footer {
    padding: 5rem 0 5rem;
  }
  footer span {
    font-size: 0.8rem;
  }
  footer #socialIcons a {
    margin: 0 0.2rem;
  }
}
